# =========================
# Bases de datos InfluxDB y otros
# =========================
**/influx_data/
*.tsm
*.wal
*.idx
*.udx
meta.db
000*

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Imágenes y Gráficas
# =========================
*.png